/* REGISTER,LOGIN,FORGOT PASSWORD,VERIFY PASSWORD */
.logoImg{
    width: 4rem;
    height: 100%;
}

.logospan{
    width: 11rem;
}

.anime{
    width: 100%;
    height: 250px;
    object-fit: fill;
    background-color: rgb(246, 230, 230);
}

.formData{
    width: 100%;
    min-height: 446px;
    height: max-content;
    color: white;
    background-color: #EB8D8D;
}

.passwordArea{
    height: 100% !important;
}

.loginTextLink:hover, .loginTextLink:visited, .loginTextLink:active, .loginTextLink:link{
    color: rgb(99, 98, 104);
    text-decoration: none;
}

.forgotPassForm{
    height: 15rem;
}

.verifyPassBtn{
    cursor: pointer;
    width: 10rem;
    height: 3.5rem;
    border-radius: 2rem !important;
}

@media screen and (max-width : 576px){
    .rowArea{
        padding: 0 3%;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px){
    .anime{
        width: 100%;
        height: 400px;
    } 
    .rowArea{
        padding: 0 3%;
    }   
}

@media screen and (max-width: 992px) and (min-width: 768px){
    .rowArea{
        padding: 0 3%;
    }
    .fieldBottom{
        padding-bottom: 4%;
    }
    .anime{
        height: 700px;
    }
    .loginAnime{
        height: 543px;
    }
    .loginFormdata{
        height: 543px;
    }
    .forgtpwdAmnime{
        height: 445px;
    }
}

@media screen and (min-width: 992px){
    .rowArea{
        padding: 0 5%;
    }
    .anime{
        height: 532px;
    }
    .loginAnime{
        height: 532px;
    }
    .loginFormdata{
        height: 532px;
    }
    .forgtpwdAmnime{
        height: 446px;
    }
}

/* ------------------------------------------------------------------------------------------------ */

/* NAVBAR BEFORE & AFTER LOGIN */

.navbarBg{
    background-color: #EB8D8D;
    height: 5rem;
    width: 100%;
}

.brandTitle{
    color: white;
}

.logoLink{
    text-decoration: none !important;
}

/* NAVBAR AFTER LOGIN */

.containerBlock{
    position: relative;
}

.navToogle{
    border: 1px solid white !important;
}

.rightbarNofication{
    display: flex;
    justify-content: end;
    float: right !important;
    z-index: 1;
}

.navbarMenu{
    width: 60%;
    align-items: center;
}

#searchbar{
    outline:none;
    border:none;
    border-radius: 1.25em;
    height: 2.5rem;
    width: 20rem;
    padding: 5%;
}

.searchIcon{
    border: none !important;
    background-color: transparent !important;
}

.NavIcon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: white !important;
    text-align: center;
    border-radius: 50% !important;
    border: none !important;
}

.navText{
    background-color: transparent !important;
    border: none !important;
    display: none !important;
    width: 10rem;    
}

.notificationsDrpdwn{
    position: absolute;
    right: 7.5rem;
    top: 4.5rem;
    z-index: 1;
    min-width: 15%;
    height: auto;
    font-size: 16px;
    border-radius: 10px !important;
    background-color: white;    
    padding: 5px 15px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.notifyItem{
    list-style-type: none;
    width: 100%;
    height: 36px;
    min-height: 30px;
}

.myProfileDrpdwn{
    position: absolute;
    right: 3rem;
    top: 4.5rem;
    z-index: 1;
    min-width: 15%;
    height: auto;
    font-size: 16px;
    border-radius: 10px !important;
    background-color: white;    
    padding: 5px 15px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width : 576px){
    .navbarMenu{
        width: 22% !important;
        margin-right: 2.5rem !important;
    }
}

@media screen and (min-width : 576px) and (max-width : 768px){
    .navbarMenu{
        width: 17% !important;
        margin-right: 2rem !important;
    }
}

@media screen and (max-width: 991px){
    .rightbarNofication{
        background-color: #EB8D8D;
        color: white;
        width: 50% !important;
    }
    .NavIcon{
        display: none !important;
    }
    .navText{
        display: block !important;        
    }
    .notificationsDrpdwn{
        position: absolute !important;
        right: 5rem !important;
        top: 11rem !important;
    }
    .myProfileDrpdwn{
        position: absolute !important;
        right: 5rem !important;
        top: 13rem !important;
    }
    .collapse, .navbar-collapse{
        position: absolute;
        top:5.2rem;
        right: 1rem ;
        margin-left: 40rem;
    }
    .navbarMenu{
        width: 15%;
        margin-right: 1rem;
    }
    #searchbar{
        display: none !important;
    }
    .searchIcon{
        display: block !important;
    }
}

@media screen and (min-width: 992px){
    .NavIcon{
        display: block !important;
    }
    #navText{
        display: none !important;
    }
    .navbarMenu{
        width: 75%;
    }
    #searchbar{
        display: block !important;
        width: 25rem !important;
    }
    .searchIcon{
        display: none !important;
    }
}

@media screen and (min-width: 1025px){
    #searchbar{
        display: block !important;
        width: 25rem !important;
    }
    .navbarMenu{
        width: 65%;
    }
}

/* ------------------------------------------------------------------------------------------------ */

/* LEFTBAR COMPONENT */

.leftBar{
    height: 100%;
    padding-right: 10px;
    border-right: 1px solid grey;
}

/* Dropdown */ 

.dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

.dropdown a {
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 0 0 10px 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 75px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #EB8D8D; color: white;}    /* Change color of dropdown links on hover */

.dropdown-content a:last-child{border-radius: 0 0 10px 10px;}   /* border radius for last child */

.dropdown:hover .dropdown-content {display: block;} /* Show the dropdown menu on hover */

.dropdown:hover .dropbtn {background-color: #3e8e41;}   /* Change the background color of the dropdown button when the dropdown content is shown */

/* RIGHTBAR COMPONENT */

.rightBar{
    height: 100%;
    border-left: 1px solid grey;
    padding: 0 10px;
}

.friendNameArea{
    width: 100%;
}

.user i{
    margin-right: 5%;
}

/* FEEDBAR COMPONENT */

.userImage{
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.openAddFeedBtn{
    background-color: rgba(135, 129, 129, 0.14);
    height: 2.5rem;
    width: 93%;
    border: none;
    border-radius: 1.25rem;
    font-size: 16px;
    cursor: pointer;
}

.feedInputArea{
    border: 1px;
    min-height: 10rem;
    width: 100%;
    overflow-wrap: break-word;
}

.attachIcon{
    background-color: white !important;
    border: none !important;
}

.attachIcon:hover {
    background-color: #EB8D8D !important;
}
.attachImgIcon{
    display: none;
}

.postFeed{
    border-radius: 15px !important;
}

.postHeader{
    border-bottom: 1px solid grey;
}

.card-img-top{
    max-width: 100%;
    width: 60%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    margin-top: 2px;
}

.likeBtn{
    border-right: 1px solid rgba(0, 0, 0, 0.338) !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

/* .commentBtn{
    border-left: 1px solid rgba(0, 0, 0, 0.338) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.338) !important;
} */

.reportBtn{
    border-bottom-right-radius: 0px !important;
    border-left: 1px solid rgba(0, 0, 0, 0.338) !important;
    border-top-right-radius: 0px !important;
}

.commentArea{
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------- */

/* PROFILE BAR */

.bioText{
    width: 100%;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid rgba(168, 167, 167, 0.793);
}

.profilePic{
    width: 100%;
    height: 14rem;
}

.profilePicImageArea{
    width: 11rem;
    height: 11rem;
}

.imageFile{
    width: 11rem;
    height: 11rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.updateProfileBtn{
    margin: 1rem 0  0 0%;
    width: 100%;
}

.bioInputArea{
    outline: none;
    border-radius: 15px !important;
    padding: 2%;
}