/* REGISTER,LOGIN,FORGOT PASSWORD */
.logoImg{
    width: 4rem;
    height: 100%;
}

.logospan{
    width: 11rem;
}

.anime{
    width: 100%;
    height: 250px;
    object-fit: fill;
    background-color: rgb(246, 230, 230);
}

.formData{
    width: 100%;
    height: max-content;
    color: white;
    background-color: #EB8D8D;
}

.loginTextLink:hover, .loginTextLink:visited, .loginTextLink:active, .loginTextLink:link{
    color: rgb(99, 98, 104);
    text-decoration: none;
}
@media screen and (max-width : 576px){
    .rowArea{
        padding: 0 3%;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px){
    .anime{
        width: 100%;
        height: 400px;
    } 
    .rowArea{
        padding: 0 3%;
    }   
}

@media screen and (max-width: 992px) and (min-width: 768px){
    .rowArea{
        padding: 0 3%;
    }
    .aa{
        padding-bottom: 4%;
    }
    .anime{
        height: 700px;
    }
    .loginAnime{
        height: 543px;
    }
    .loginFormdata{
        height: 543px;
    }
    .forgtpwdAmnime{
        height: 445px;
    }
}

@media screen and (min-width: 992px){
    .rowArea{
        padding: 0 5%;
    }
    .anime{
        height: 564px;
    }
    .loginAnime{
        height: 543px;
    }
    .loginFormdata{
        height: 543px;
    }
    .forgtpwdAmnime{
        height: 446px;
    }
}

/* NAVBAR BEFORE & AFTER LOGIN */

.navbarBg{
    background-color: #EB8D8D;
    height: 5rem;
    width: 100%;
}

.brandTitle{
    color: white;
    text-decoration: none;
}

/* NAVBAR AFTER LOGIN */

#searchbar{
    outline:none;
    border:none;
    border-radius: 1.25em;
    height: 2.5rem;
    width: 27rem;
    padding: 10px;
}

.NavIcon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: white !important;
    text-align: center;
    border-radius: 50% !important;
    border: none !important;
}

.notificationsDrpdwn{
    position: absolute;
    right: 7.5rem;
    top: 4.5rem;
    z-index: 1;
    width: 15%;
    height: auto;
    font-size: 16px;
    border-radius: 10px !important;
    background-color: white;    
    padding: 5px 15px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.myProfileDrpdwn{
    position: absolute;
    right: 3rem;
    top: 4.5rem;
    z-index: 1;
    width: 15%;
    height: auto;
    font-size: 16px;
    border-radius: 10px !important;
    background-color: white;    
    padding: 5px 15px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.notifyItem{
    list-style-type: none;
    width: 100%;
    height: 36px;
    min-height: 30px;
}

/* LEFTBAR COMPONENT */

.leftBar{
    height: 100%;
    padding-right: 10px;
    border-right: 1px solid grey;
}

/* Dropdown */ 

.dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

.dropdown a {
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 0 0 10px 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 75px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #EB8D8D; color: white;}    /* Change color of dropdown links on hover */

.dropdown-content a:last-child{border-radius: 0 0 10px 10px;}   /* border radius for last child */

.dropdown:hover .dropdown-content {display: block;} /* Show the dropdown menu on hover */

.dropdown:hover .dropbtn {background-color: #3e8e41;}   /* Change the background color of the dropdown button when the dropdown content is shown */


/* FEEDBAR COMPONENT */

.postFeed{
    border-radius: 15px !important;
}

.card-img-top{
    max-width: 100%;
    width: 60%;
    height: 25rem;
    aspect-ratio: 16/9;
    object-fit: contain;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

.likeBtn{
    border-right: 1px solid rgba(0, 0, 0, 0.338) !important;;
    border-bottom-left-radius: 15px !important;
    border-top-left-radius: 0px !important;
}

.commentBtn{
    border-left: 1px solid rgba(0, 0, 0, 0.338) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.338) !important;
}

.reportBtn{
    border-bottom-right-radius: 15px !important;
    border-left: 1px solid rgba(0, 0, 0, 0.338) !important;
    border-top-right-radius: 0px !important;
}


/* RIGHTBAR COMPONENT */

.rightBar{
    /* margin-left: 20rem; */
    height: 100%;
    border-left: 1px solid grey;
    padding: 0 10px;
}

.friendNameArea{
    width: 100%;
}

/* .addBlock img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

.user i{
    margin-right: 5%;
}