/* REGISTER,LOGIN,FORGOT PASSWORD,VERIFY PASSWORD */
.logoImg{
    width: 4rem;
    height: 100%;
}

.logospan{
    width: 11rem;
}

.anime{
    width: 100%;
    height: 250px;
    object-fit: fill;
    background-color: rgb(246, 230, 230);
}

.formData{
    width: 100%;
    min-height: 446px;
    height: max-content;
    color: white;
    background-color: #EB8D8D;
}

.passwordArea{
    height: 100% !important;
}

.loginTextLink:hover, .loginTextLink:visited, .loginTextLink:active, .loginTextLink:link{
    color: rgb(99, 98, 104);
    text-decoration: none;
}

.forgotPassForm{
    height: 15rem;
}

.verifyPassBtn{
    cursor: pointer;
    width: 10rem;
    height: 3.5rem;
    border-radius: 2rem !important;
}

@media screen and (max-width : 576px){
    .rowArea{
        padding: 0 3%;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px){
    .anime{
        width: 100%;
        height: 400px;
    } 
    .rowArea{
        padding: 0 3%;
    }   
}

@media screen and (max-width: 992px) and (min-width: 768px){
    .rowArea{
        padding: 0 3%;
    }
    .fieldBottom{
        padding-bottom: 4%;
    }
    .anime{
        height: 700px;
    }
    .loginAnime{
        height: 543px;
    }
    .loginFormdata{
        height: 543px;
    }
    .forgtpwdAmnime{
        height: 445px;
    }
}

@media screen and (min-width: 992px){
    .rowArea{
        padding: 0 5%;
    }
    .anime{
        height: 532px;
    }
    .loginAnime{
        height: 532px;
    }
    .loginFormdata{
        height: 532px;
    }
    .forgtpwdAmnime{
        height: 446px;
    }
}

/* ------------------------------------------------------------------------------------------------ */

/* NAVBAR BEFORE & AFTER LOGIN */

.navbarBg{
    background-color: #EB8D8D;
    height: 5rem;
    width: 100%;
}

.brandTitle{
    color: white;
}

.logoLink{
    text-decoration: none !important;
}

/* NAVBAR AFTER LOGIN */

.containerBlock{
    position: relative;
}

.navToogle{
    border: 1px solid white !important;
}

.rightbarNofication{
    display: flex;
    justify-content: end;
    float: right !important;
    z-index: 1;
}

.navbarMenu{
    width: 60%;
    align-items: center;
}

.searchResultValue{
    padding: 10px;
}

.searchResultValue:hover{
    background-color: rgb(244, 244, 244);
}

.NavIcon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: white !important;
    text-align: center;
    border-radius: 50% !important;
    border: none !important;
}

.navText{
    background-color: transparent !important;
    border: none !important;
    display: none !important;
    width: 10rem;    
}

.notificationsDrpdwn{
    position: absolute;
    right: 7.5rem;
    top: 4.5rem;
    z-index: 1;
    min-width: 15%;
    height: auto;
    font-size: 16px;
    border-radius: 10px !important;
    background-color: white;    
    padding: 5px 15px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.notifyItem{
    list-style-type: none;
    width: 100%;
    height: 36px;
    min-height: 30px;
}

.myProfileDrpdwn{
    position: absolute;
    right: 3rem;
    top: 4.5rem;
    z-index: 1;
    min-width: 15%;
    height: auto;
    font-size: 16px;
    border-radius: 10px !important;
    background-color: white;    
    padding: 5px 15px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width : 576px){
    .navbarMenu{
        width: 17% !important;
    }
    .searchBlock{
        display: none !important;
    }
    .userName{
        display: none !important;
    }
}

@media screen and (min-width : 576px) and (max-width : 768px){
    .navbarMenu{
        width: 10% !important;
    }
    .searchBlock, .userName{
        display: none !important;
    }
}

@media screen and (max-width: 991px){
    .rightbarNofication{
        background-color: #EB8D8D;
        color: white;
        width: max-content !important;
    }
    .NavIcon{
        display: none !important;
    }
    .navText{
        display: block !important;        
    }
    .notificationsDrpdwn{
        position: absolute !important;
        right: 5rem !important;
        top: 8rem !important;
    }
    .myProfileDrpdwn{
        position: absolute !important;
        right: 5rem !important;
        top: 10rem !important;
    }
    .collapse, .navbar-collapse{
        position: absolute;
        top:5.2rem;
        right: 1rem ;
        margin-left: 40rem;
    }
    .navbarMenu{
        width: 25%;
    }
    .userName{
        display: block;
        margin-right: 10%;
    }
    .containerBlock{
        margin-top: -10px;
    }
    .searchBlock{
        width: 22rem;
        background-color: white;
        border-radius: 10px;
        height: 2.5rem;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .searchBar {
        border: none;
        outline: none;
        width: 100%;
        padding: 0 5px;
    }
}

@media screen and (min-width: 992px){
    .NavIcon{
        display: block !important;
    }
    #navText{
        display: none !important;
    }
    .navbarMenu{
        width: 20% !important;
    }
    .searchField{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1rem;
        left: 20%;
    }
    .searchBlock{        
        width: 25rem;
        background-color: white;
        border-radius: 10px;
        height: 2.5rem;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .searchBar {
        border: none;
        outline: none;
        width: 100%;
        padding: 0 5px;
    }
    .searchResultsList{
        width: 100%;
        background-color: white;
        box-shadow: 0 0 8px #ddd;
        border-radius: 10px;
        margin-top: 0.5rem;
        max-height: 200px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1024px){
    .searchField{
        margin-left: 6rem;
        position: absolute;
        top: 1rem;
        left: 20%;
    }
    .navbarMenu{
        width: 25% !important;
    }
}

@media screen and (min-width: 1200px){
    .searchField{
        margin-left: 6rem;
        position: absolute;
        top: 1rem;
        left: 30%;
    }
    .navbarMenu{
        width: 20% !important;
    }
}

/* ------------------------------------------------------------------------------------------------ */

/* LEFTBAR COMPONENT */

.leftBar{
    height: 100%;
    padding-right: 10px;
    border-right: 1px solid grey;
}

/* Dropdown */ 

.dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

.dropdown a {
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 0 0 10px 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 75px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #EB8D8D; color: white;}    /* Change color of dropdown links on hover */

.dropdown-content a:last-child{border-radius: 0 0 10px 10px;}   /* border radius for last child */

.dropdown:hover .dropdown-content {display: block;} /* Show the dropdown menu on hover */

.dropdown:hover .dropbtn {background-color: #3e8e41;}   /* Change the background color of the dropdown button when the dropdown content is shown */

/* RIGHTBAR COMPONENT */

.rightBar{
    height: 100%;
    border-left: 1px solid grey;
    padding: 0 10px;
}

.friendNameArea{
    width: 100%;
}

.user i{
    margin-right: 5%;
}

@media screen and (max-width : 576px){
    .leftMenuText{
        display: none !important;
    }
    .leftMenuIcon{
        display: block;
        width: 3rem;
    }
    .leftBar {
        border: none;
        /* border-right: 1px solid grey; */
    }
    .rightBar{
        display: none;
    }
    .list-group-item{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .feed{
        border-left: 1px solid grey;
    }
    .onlineBtn{
        position: absolute;
        top: 18rem;
        left: 0;
        background-color: #bcb6b663;
        width: 2rem;
        height: 2rem;
        border-radius: 0 15px 15px 0;
    }
    .onlineIcon{
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    .sidebar{
        position: fixed;
        top: 5.1rem;
        border-top-left-radius: 20px;
        right: 0;
        z-index: 1;
        background-color: #EB8D8D;
        color: white;
        width: 12rem;
        height: 100%;
        overflow-y: scroll;
    }
}

@media screen and (min-width : 576px) and (max-width : 768px){
    .rightBar{
        display: block;
    }
    .rightBarSlide{
        display: none;
    }
    .leftbar{
        border-right: 1px solid grey;
    }
}

@media screen and (max-width : 768px){
    .leftMenuText{
        display: none !important;
    }
    .leftMenuIcon{
        display: block !important;
    }
    .leftMenuIconRow{
        display: none !important;
    }
}

@media screen and (min-width : 768px){
    .leftMenuText{
        display: block !important;
    }
    .leftMenuIcon{
        display: none !important;
    }
    .leftMenuIconRow{
        display: none !important;
    }
    .onlineBtn{
        display: none;
    }
}


/* FEEDBAR COMPONENT */

.commentsFetchArea{
    max-height: 15rem;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.commentsFetchArea::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.commentsFetchArea {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.userImage{
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.openAddFeedBtn{
    background-color: rgba(135, 129, 129, 0.14);
    height: 2.5rem;
    width: 93%;
    border: none;
    border-radius: 1.25rem;
    font-size: 16px;
    cursor: pointer;
}

.feedInputArea{
    border: 1px;
    min-height: 10rem;
    width: 100%;
    overflow-wrap: break-word;
}

.attachIcon{
    background-color: white !important;
    border: none !important;
}

.attachIcon:hover {
    background-color: #EB8D8D !important;
}
.attachImgIcon{
    display: none;
}

.postFeed{
    border-radius: 15px !important;
}

.postHeader{
    border-bottom: 1px solid grey;
}

.card-img-top{
    max-width: 100%;
    width: 60%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    margin-top: 2px;
}

.likeBtn{
    border-right: 1px solid rgba(0, 0, 0, 0.338) !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.reportBtn{
    border-bottom-right-radius: 0px !important;
    border-left: 1px solid rgba(0, 0, 0, 0.338) !important;
    border-top-right-radius: 0px !important;
}

.commentArea{
    width: 100%;
}

#commentArea{
    width: 100%;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

#commentArea:focus{
    outline: none;
}

@media screen and (max-width : 768px){
    /* .feed{
        
    } */
}


/* ---------------------------------------------------------------------------------------------------------- */

/* PROFILE BAR */

.userBioData{
    width: 100%;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid rgba(168, 167, 167, 0.793);
}

.profilePic{
    width: 100%;
    height: 14rem;
}

.profilePicImageArea{
    width: 11rem;
    height: 11rem;
}

.imageFile{
    width: 11rem;
    height: 11rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.updateProfileBtn{
    margin: 1rem 0  0 0%;
    width: 100%;
}

.bioInputArea{
    outline: none;
    border-radius: 15px !important;
    padding: 2%;
}

/* ----------------------------------------------------------------------------------------------------------------- */


@media screen and (min-width : 768px){
    .chatWrapper{
        width: 100%;
        height: 36.5rem;
        border: 1px solid grey;
        border-radius: 20px;
    }
    .chatHeader{
        height: 6rem;
        background-color: #f7ebeb;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px 20px 0 0;
    }
    .chatWrapperDp{
        width: 50px;
        height: 50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-left: 1rem;
    }
    .chatBody{
        height: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .chatBody::-webkit-scrollbar {
        display: none;
    }
    .message{
        display: flex;
        flex-direction: column;
    }
    .messageBlock{
        display: flex;
        height: 100%;
    }
    .chatUserDp{
        width: 35px;
        height: 35px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .messageDisplay{
        max-width: 400px;
        background-color: #EB8D8D;
        border-radius: 10px;
        color: white;
    }
    .messageBottom{
        font-size: 12px;
    }
    .message.own{
        align-items: flex-end;
    }
    .message.own .messageDisplay{
        background-color: lightgray;
        color: black;
    }
    .chatFooter{
        height: 5rem;
        background-color: #f7ebeb;
        border-radius: 0 0 20px 20px;
    }
    .chatInputText{
        width: 100%;
        border-radius: 1rem;
        overflow-y: scroll;
        outline: none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .chatInputText::-webkit-scrollbar {
        display: none;
    }
    .chatList{
        padding:0.5rem 1rem;
        height: 100%;
        border-left: 1px solid grey;
    }
    .searchChatBlock{
        border: 1px solid #EB8D8D;
        border-radius: 10px;
        height: 2.5rem;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
        cursor: pointer;
    }
    .searchChatBar{
        border: none;
        outline: none;
        width: 100%;
        padding: 0 5px;
    }
    .searchChatResultsList{
        position: absolute;
        width: 20.5rem;
        background-color: white;
        box-shadow: 0 0 8px #ddd;
        border-radius: 10px;
        margin-top: 0.5rem;
        max-height: 10rem;
        overflow-y: scroll;
        z-index: 1;
    }
    .searchChatResultValue{
        padding: 10px;
        /* cursor: pointer; */
    }    
    .searchChatResultValue:hover{
        background-color: rgb(244, 244, 244);
        cursor: pointer;
    }
    .userCard:hover{
        background-color: #b5b0b043;
        cursor: pointer;
    }
    .conversationLists{
        max-height: 30rem;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}